.question {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-weight: 500;
}

.santaImg {
  max-width: 100%;
  height: auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
  font-weight: 800;
  font-size: 3em;
  text-align: center;
}
