---
import { SongGenerator } from "../components/song-generator/SongGenerator";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Merry Christmas">
  <main>
    <h1>
      Merry Christmas and <br />a Happy <span class="text-gradient">2023</span>!
    </h1>
    <SongGenerator client:load />
  </main>
  <footer>
    <a href="/about">About</a>
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem 1.5rem 3rem;
    max-width: 65ch;
    font-size: 16px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
    text-align: center;
    margin: 0 0 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.5rem;
    text-align: center;
  }
</style>
